.Matrix {
	width: 100%;
	max-width: 400px;
	aspect-ratio: 1;
}

.Matrix__row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.Matrix__row > div {
	flex: 1 1 auto;
	aspect-ratio: 1;
	cursor: pointer;
}

.Matrix__row > div.--borders-visible {
	outline: 1px solid var(--primary);
}

.Matrix__row > div.--borders-not-visible {
	outline: 0;
}

.Matrix__row > div.--in-zoomed-area {
	background-image: repeating-linear-gradient(
		-45deg,
		var(--brand-dark) 0px,
		var(--brand-dark) 20%,
		var(--brand-darker) 20%,
		var(--brand-darker) 30%
	);
}
