.Matrix {
    width: 100%;
    aspect-ratio: 1;
}

.Matrix__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Matrix__row > div {
    flex: 1 1 auto;
    aspect-ratio: 1;
    outline: 1px solid var(--primary);
    cursor: pointer;
}