.Zoom {
	outline: 1px solid red;
	width: 100%;
	position: relative;
	font-size: clamp(1rem, 4vw, 1.2rem);
	display: grid;
	place-items: center;
}

.Zoom__exit_bt {
	position: absolute;
	outline: 0;
	border: 0;
	cursor: pointer;
	top: 2.5px;
	right: 2.5px;
	background: transparent;
	color: var(--secondary);
	outline: 1px solid currentColor;
	border-radius: 5px;
	font-family: var(--font-roboto-ss);
	font-size: 0.8em;
	padding: 0.1em 0.3em;
}
