.DisplayOptions {
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-size: clamp(0.8rem, 4vw, 1rem);
}

.DisplayOptions > button {
	outline: 0;
	border: 0;
	color: var(--secondary);
	font-family: var(--font-roboto--ss);
	font-size: 1em;
	font-weight: 600;
	padding: 0.3em 0.6em;
	border-radius: 99px;
	background-color: var(--brand);
	cursor: pointer;
}

.DisplayOptions > label {
	flex: 1 1 auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	border-radius: 99px;
	background-color: var(--brand);
}

.DisplayOptions > label > input {
	width: 70%;
	margin-left: auto;
}

.DisplayOptions > label > strong {
	flex: 0 0 auto;
	height: 100%;
	display: grid;
	place-items: center;
	border-radius: 50%;
	font-size: 1em;
	aspect-ratio: 1;
	font-family: var(--font-inter-ss);
	background-color: var(--brand-light);
	margin-left: auto;
	color: var(--secondary);
	border: 2px solid currentColor;
}

.DisplayOptions > label > strong.--canvas-size-not-changing {
	opacity: 1;
	transition: opacity 0.4s;
}

.DisplayOptions > label > strong.--canvas-size-changing {
	opacity: 0.5;
	transition: opacity 0.4s;
}
