.Canvas {
    width: 100%;
    max-height: 60%;
    aspect-ratio: 1;
    margin-top: auto;
}

.Canvas__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Canvas__row > div {
    flex: 1 1 auto;
    aspect-ratio: 1;
    outline: 1px solid var(--primary);
    cursor: pointer;
}