@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--brand-lightest: hsl(240, 50%, 70%);
	--brand-lighter: hsl(240, 50%, 60%);
	--brand-light: hsl(240, 50%, 50%);
	--brand: hsl(240, 50%, 50%);
	--brand-dark: hsl(240, 50%, 40%);
	--brand-darker: hsl(240, 50%, 30%);
	--brand-darkest: hsl(240, 50%, 20%);

	--primary: hsl(0, 0%, 0%);
	--primary-light: hsl(0, 0%, 20%);
	--primary-lighter: hsl(0, 0%, 40%);
	--secondary: hsl(0, 0%, 100%);
	--secondary-dark: hsl(0, 0%, 80%);
	--secondary-darker: hsl(0, 0%, 60%);

	--font-inter-ss: 'Inter', sans-serif;
	--font-roboto-ss: 'Roboto', sans-serif;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: var(--brand-darkest);

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
